@import "../node_modules/normalize.css/normalize.css";

@font-face {
  font-family: 'TitleFont';
  src: url("./assets/fonts/titles.ttf") format("truetype");
}

@import "./assets/fonts/medium.scss";
$main-font-family: "medium-content-sans-serif-font";

@import "~@angular/material/theming";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  font-family: $main-font-family;
  font-size: 14px;
}

$custom-typography: mat-typography-config($font-family: $main-font-family);

@include mat-core($custom-typography);